@(tokenId: String, passwordsForm: Form[(String, String, java.util.UUID)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@implicitFieldConstructor = @{ b4.inline.fieldConstructor() }
@import controllers.security.web._

@main(messagesProvider.messages("specify.password.title")) {

    @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>@messagesProvider.messages("error")</strong> @msg
        </div>
    }

    <fieldset class="col-md-6 col-md-offset-3">
        <legend>@messagesProvider.messages("specify.password.title")</legend>
        @helper.form(action = routes.PasswordChangeController.handleResetPassword) {
            @helper.CSRF.formField
            @b4.password(passwordsForm("password1"), Symbol("_hiddenLabel") -> "Password", Symbol("placeholder") -> "new password", Symbol("autofocus") -> true)
            @b4.password(passwordsForm("password2"), Symbol("_hiddenLabel")-> "Repeat password", Symbol("placeholder") -> "repeat password", Symbol("_error") -> passwordsForm.error(""))
            <input type="hidden" name="token" value="@tokenId"/>
            <div class="form-group">
                <div>
                    <button id="submit" type="submit" value="submit" class="btn btn-lg btn-primary btn-block">@messagesProvider.messages("specify.password.button")</button>
                </div>
            </div>
        }
    </fieldset>
}

